.themeButton {
  border: 0;
  background: none;
  margin-left: 2rem;
  cursor: pointer;
  transform: translateY(2px);
}

.sunIcon {
  color: rgb(145, 106, 93);
}

.moonIcon {
  color: lightskyblue;
}

.sunIcon,
.moonIcon {
  font-size: 2.8rem;
  opacity: .85;
}

.sunIcon:hover,
.moonIcon:hover {
  opacity: 1;
}