.themeButton {
  border: 0;
  background: none;
  margin-left: 2rem;
  cursor: pointer;
  transform: translateY(2px);
}

.sunIcon,
.moonIcon {
  font-size: 2.8rem;
  color: var(--black);
  opacity: .85;
}

.sunIcon:hover,
.moonIcon:hover {
  opacity: 1;
} 