.button {
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  width: 5.2rem;
  height: 5.2rem;
  background-color: var(--black);
  background-color: var(--accent-color);
  color: var(--white);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}