.section {
  padding: 10rem 4rem;
}

.container {
  max-width: 1400px;
  margin: auto;
  animation: var(--animation-fade-in);
}

.title {
  font-size: 4rem;
  opacity: .9;
}

.articlesQuantity {
  display: block;
  margin-top: 1rem;
  font-size: 1.6rem;
  opacity: .75;
}

.articlesContainer {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-grow: 1;
}

.cardTitle {
  font-size: 2.4rem;
  line-height: 1.3em;
  opacity: .9;
}

.cardtime {
  font-size: 1.4rem;
  opacity: .75;
}

.space {
  flex-grow: 1;
}

.cardButton {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  transition: var(--transition);
}

.cardButton:hover {
  opacity: .9;
}

.cardArrow {
  vertical-align: middle;
  transition: var(--transition);
}

.cardButton:hover .cardArrow {
  transform: translateX(5px);
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 912px) {
  .articlesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding: 4rem 2rem 6rem;
  }

  .title {
    font-size: 3rem;
  }

  .articlesContainer {
    margin-top: 4rem;
    grid-template-columns: 1fr;
  }

  .cardTitle {
    font-size: 2.2rem;
  }

}