.section {
  padding: 10rem 4rem;
}

.container {
  max-width: 1400px;
  margin: auto;
  animation: var(--animation-fade-in);
}

.title {
  font-size: 4rem;
  opacity: .9;
}

.articlesQuantity {
  display: block;
  margin-top: 1rem;
  font-size: 1.6rem;
  opacity: .75;
}

.articlesContainer {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 912px) {
  .articlesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding: 4rem 2rem 6rem;
  }

  .title {
    font-size: 3rem;
  }

  .articlesContainer {
    margin-top: 4rem;
    grid-template-columns: 1fr;
  }
}