.card {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--bg-card);
  box-shadow: var(--shadow-card);
  transition: var(--transition);
}

.card:hover {
  filter: contrast(80%);
}

.cardImage {
  width: 100%;
  height: auto;
  display: block;
}

.cardContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-grow: 1;
}

.cardTitle {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3em;
  opacity: .9;
}

.cardtime {
  font-size: 1.4rem;
  opacity: .75;
}

.space {
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .card:hover {
    box-shadow: none;
  }

  .cardTitle {
    font-size: 2.2rem;
  }
}